* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 0;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
  font-family: "Trebuchet MS";
}

/*Copied from Survey Form example by @lasjorg*/
body::before {
  content:'';
  position:fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("https://github.com/GrizzlyGinger/fcc-rwd-3plp/blob/main/docs/images/RootsofFlight(fall%2Cdgpt)3000.png?raw=true");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-color: rgba(25,25,25,255);
}
/*Copied from Survey Form example by @lasjorg*/

header {
  position: fixed;
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 100px;
  background-color: rgb(119, 98, 78, 0.85);
}

nav {
  width: 100%;
  display: flex;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
}

li {
  list-style-type: none;
  margin: 0 3px;
  padding: 0;
}

h1, h2, h3 {
  color: rgb(244, 204, 186);
}

a {
  color: rgb(221, 235, 227);
}

p {
  color: rgb(255, 255, 255);
}

.header-link {
  display: flex;
  justify-content: center;
}

.header-link > img {
  width: 90%;
  max-width: 450px;
  margin: 15px 0;
}

.nav-link {
  text-decoration: none;
	font-weight: bold;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(70, 77, 65);
}

.section-links {
  align-self: center;

}

.container {
  display: flex;
  justify-content: center;
}

.sections {
  margin: 110px 12% 60px 12%;
  padding: 15px 0;
  max-width: 800px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(109, 119, 119, 0.8);
  border-radius: 10px;
}

.sections > * {
  background-color: rgb(70, 77, 65);
  border-radius: 10px;
}

.section {
  max-width: 85%;
  min-width: 300px;
  padding: 15px;
  margin: 0px 12% 15px 12%;
}

#episodes > h2 {
  padding: 10px 0 18px 0;
}

#about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#connect {
  padding: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.social_button {
  max-width: 40%;
}

#form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 12% 15px 12%;
}

#form-container > * {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.form-descript {
  max-width: 95%;
  margin: 15px;
  flex-direction: column;
  text-align: center;
}

.form-descript > p {
  padding: 15px 0;
}

#form {
  min-width: 95%;
}

#email {
  max-width: 75%;
  min-width: 15ch;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 3px;
  border: 3px solid rgb(228, 159, 124);
  background-color: rgb(202,223,214);
}

#feedback {
  min-height: 200px;
  max-width: 80%;
  margin: 15px 15px;
  border: 3px solid rgb(228, 159, 124);
  border-radius: 5px;
  background-color: rgb(202,223,214);
}

#submit {
  max-width: 50%;
  margin: 0 0 15px 15px;
  border-radius: 10px;
  background-color: rgb(109, 119, 119);
  cursor: pointer;
}

#vid-section {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0px 12% 25px 12%;
  padding-bottom: 15px;
}

#vid-section > * {
  display: flex;
  max-width: 75%;
}

.vid-descript {
  margin: 15px;
  flex-direction: column;
  text-align: center;
}

.vid-descript > a {
  line-height: 1.4
}
.vid-descript > p {
  padding-bottom: 10px;
}

.vid-descript > h3 {
  padding-top: 15px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 595px) {
  html {
    scroll-padding-top: 160px;
  }

  header {
    height: 150px;
  }

  nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav > ul {
    height: 50%;
  }

  nav > li {
    margin: 30px;
  }

  .header-link {
    height: 70%;
    max-width: 80%;
    min-width: 300px;
  }

  .sections {
      margin: 160px 2% 60px 2%;
  }
}
